<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist</h1>
    <form method="post" action="https://api.instafeez.com/erp/feez">
		School ID : <input type="text" name="school_id" value="aridemsc-mud.ce"> <br>
		Student ID: <input type="text" name="student_id" value="00c1c473-c6a7-494e-a2bf-a309178cf361@aridemsc-mud.ce"> <br>
		Student Class: <input type="text" name="student_class" value="Class 1"> <br>
		merchant_access_id : <input type="text" name="merchant_access_id" value="ivp_qa_Mw1OspWriGs33k"> <br>
		Platform : <input type="text" name="platform" value="cordova"> <br>
		Fee Modal : <input type="text" name="fee_modal" value="modal-2"> <br>
		Pay status : Yes <input type="radio" name="pay_status" value="yes"> No <input type="radio" name="pay_status" value="no"> <br> <br>

		<button name="Post Student" value="Post Student" type="submit">Post Student </button>
	</form>
  </ion-content>
</ion-view>
